.full-calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
    margin-left: 70px;
}

.fc {
    width: 100%; 
    max-width: 1200px; 
}

.fc-toolbar-title {
    font-size: 2em;
    text-align: center;
}

.fc-daygrid-day {
    height: 75px; 
}

.fc .fc-daygrid-day-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
